/* -------------------------google font ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --------------------------Common Utilities ---------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

/* ---------------------Customization section -------------------------- */
.margin-top{
    margin-top: 30px;
}
.margin-top2{
    margin-top: 33px;
}

.bold{
    font-weight: 700;
}

.reduce-margin{
    margin-top: -5px;
}

.bold-line{
    border: 3px solid blue;
    border-radius: 5px;
}

.button-style{
    margin-right: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
    padding: 7px;
}
.button-style:hover{
    background-color: cornflowerblue;
    color: white;
}

.promo-total{
    font-size: 2rem;
}
/* --------------------End---------------------- */